body,html {
	background:#fff;
	font-family:sans-serif; 
}
tr.e { background:#ffffff; }
tr.o { background:#dae0f4; }
th,td {
	padding:0.1em 0.5em;
}
th {
	text-align:left;
	font-weight:bold;
	background:#eee;
	border-bottom:1px solid #aaa;
}
td {
	font-family:verdana;
	font-size:14px;
}
#list {
	border:1px solid #aaa;
	width:100%;
}
a:link {
	color:#2400B0;
	text-decoration:none;
} 
a:visited {
	color:#2400B0;
	text-decoration:none;
}
a:hover {
	color:#0000FF;
	text-decoration:underline;
}
#readme {
	padding:0;
	margin:1em 0;
	border:none;
	width:100%;
}
